diffusers==0.36.0
torch
torchvision
transformers==4.57.6
accelerate
safetensors
einops
onnxruntime-gpu; sys_platform != 'darwin'
onnxruntime; sys_platform == 'darwin'
spaces==0.19.4
omegaconf
peft
huggingface-hub
opencv-python
insightface
gradio==4.16.0
controlnet_aux
gdown
peft
mediapipe
